@define-color base00 #000000; /* Background */
@define-color base01 #111111;
@define-color base02 #222222;
@define-color base03 #333333;
@define-color base04 #888888;
@define-color base05 #aaaaaa;
@define-color base06 #cccccc;
@define-color base07 #ffffff;

window {
  margin: 5px;
  background-color: @base00;
  opacity: 0.95;
  border-radius: 10px;
}

#outer-box {
  margin: 5px;
  background-color: @base01;
  border-radius: 10px;
}

#input {
  margin: 2px;
  border: 2px solid @base05;
  background-color: @base02;
  color: @base07;
  font-size: 18px;
}

#input:focus {
  box-shadow: none;
  border-color: transparent;
}

#inner-box {
  background-color: @base01;
}

#scroll {
  margin: 2px;
  border: 2px solid @base03;
  background-color: @base01;
  font-size: 16px;
  color: @base06;
  border-radius: 10px;
}

#scroll label {
  margin: 2px 0px;
  color: @base05;
}

#entry {
  margin: 0px 2px;
  background-color: @base01;
  border: 2px solid transparent;
}

#entry:selected {
  background-color: @base02;
  border: 2px solid @base04;
}

#img {
  margin: 5px;
  background-color: @base01;
}

#img:selected {
  background-color: @base02;
}

#text {
  margin: 5px;
  border: none;
  color: @base06;
}

#text:selected {
  background-color: @base02;
}
